footer.main__footer
  .container
    div
      p © OSOCO 2018
    div
      ul
        li #[a(href='/cookies.html' title=FOOTER.LINK1[lang]) #{FOOTER.LINK1[lang]}]
        li #[a(href='/privacidad.html' title=FOOTER.LINK2[lang]) #{FOOTER.LINK2[lang]}]
        li #[a(href='#contact' title=FOOTER.LINK3[lang]) #{FOOTER.LINK3[lang]}]





            