section#price
    .container
        article
            h1 #{PRICE.HEAD[lang]}
            p #{PRICE.TEXT[lang]} #[a(href='#' title=PRICE.LINK[lang] ) #{PRICE.LINK[lang]}] #{PRICE.TEXT2[lang]}
            p #[a( href='#contact' title= PRICE.CTA.TITLE[lang] class='button') #{PRICE.CTA.VALUE[lang]}]
