extends ../subatoms/base.pug


block content
  +glide({controls:false, bullets: 3, name:'slider'})
    +glide__slide
      div.container
        h1 #{SLIDER.SLIDE1.TITLE[lang]}
        p #[a(href='#contacto' class='button' title=SLIDER.SLIDE1.CTA[lang]) #{SLIDER.SLIDE1.CTA[lang]}]
      img(src='img/slider-1.jpg', alt='Imagen de slider')
    +glide__slide 
      div.container
        h1 #{SLIDER.SLIDE2.TITLE[lang]}
        p #[a(href='#contacto' class='button' title=SLIDER.SLIDE2.CTA[lang]) #{SLIDER.SLIDE2.CTA[lang]}]
      img(src='img/slider-1.jpg', alt='Imagen de slider')
    +glide__slide
      div.container
        h1 #{SLIDER.SLIDE3.TITLE[lang]}
        p #[a(href='#contacto' class='button' title=SLIDER.SLIDE3.CTA[lang]) #{SLIDER.SLIDE3.CTA[lang]}]
      img(src='img/slider-1.jpg', alt='Imagen de slider')
      
  include ../organisms/introduction
  include ../organisms/steps
  include ../organisms/price
  include ../organisms/clients
  hr
  include ../organisms/contact
  include ../organisms/map

